@charset "utf-8";
@import "partials/normalize";

%full{
  // width: 100%;
  // height: 100%;
}

// Black
// 30261C
// 48,38,28

body{
  margin: 0;
  background-color:#403831;
}

.viewport{
  display: block;
}